:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
:root {
    --color-background: var(--vt-c-white);
    // --color-background-soft: var(--vt-c-white-soft);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    // --color-text: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-white-soft);
    

    --section-gap: 160px;
}

*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
}

*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; /* Makes the body element full screen */
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    color: var(--color-text);
    background: var( --color-background-soft) !important;
    color: var(--color-text) !important;
}